* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  background-color: #283862;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.wrapper header {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #12192c;
}

.wrapper header .social {
  display: flex;
  height: 50px;
  align-items: center;
}

.wrapper header .social .contact {
  flex: 1;
}

.wrapper header .social .contact .contact__details {
  display: flex;
  list-style: none;
}

.wrapper header .social .contact .contact__details li {
  flex: 1;
  padding-left: 15px;
  cursor: pointer;
}

.wrapper header .social .contact .contact__details li span {
  padding-right: 5px;
  font-size: 20px;
}

.wrapper header .social .socialmedia {
  flex: 1;
}

.wrapper header .social .socialmedia .socialmedia__details {
  list-style: none;
  display: flex;
}

.wrapper header .social .socialmedia .socialmedia__details li {
  flex: 1;
  padding-right: 15px;
  text-align: right;
  cursor: pointer;
}

.wrapper header .social .socialmedia .socialmedia__details li span {
  padding-right: 5px;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .wrapper header .social {
    visibility: hidden;
    height: 20px;
  }
}

.wrapper header .title {
  height: 150px;
  background-color: #cccccc;
  display: flex;
  position: relative;
}

.wrapper header .title .logo {
  flex: 4;
}

.wrapper header .title .logo img {
  max-width: 200px;
  padding: 10px 0 0 10px;
}

.wrapper header .title .navigation {
  flex: 6;
  transition: 0.5s ease;
}

.wrapper header .title .navigation .navigation__buttons {
  display: flex;
}

.wrapper header .title .navigation .navigation__buttons .buttons__main {
  color: black;
  font-weight: bold;
}

.wrapper header .title .navigation .navigation__buttons li {
  flex: 1;
  list-style: none;
  margin-top: 50px;
  cursor: pointer;
}

.wrapper header .title .navigation .navigation__buttons li:hover {
  color: gray;
}

@media (max-width: 1200px) {
  .wrapper header .title .burger {
    position: absolute;
    z-index: 15;
    top: 50px;
    right: 65px;
    transform: translateX(50%);
    cursor: pointer;
  }
  .wrapper header .title .burger .bar {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
  .wrapper header .title .navigation {
    transform: translateX(100%);
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: red;
    height: 100vh;
    width: 50vw;
  }
  .wrapper header .title .navigation .navigation__buttons {
    flex-direction: column;
    margin-top: 150px;
    height: calc(100vh - 170px);
    justify-content: space-around;
  }
  .wrapper header .title .navigation .navigation__buttons li {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .wrapper header .title .active {
    transform: translateX(0);
  }
  .wrapper header .title .logo img {
    margin: 15px 20px 0;
    max-width: 150px;
  }
}

.wrapper .images {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper .images .gallery .slider {
  position: relative;
  overflow: hidden;
}

.wrapper .images .gallery .slider img {
  max-width: 100%;
}

.wrapper .images .gallery .slider h1 {
  position: absolute;
  transform: translate(-50%);
  top: 50%;
  left: 50%;
  font-size: 60px;
}

.wrapper .images .gallery .slider button {
  position: absolute;
  transform: translateX(-50%);
  top: 65%;
  left: 50%;
  width: 250px;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #ff0000;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  outline: none;
  box-shadow: none;
  border-style: solid;
  border-color: transparent;
}

.wrapper .images .gallery .slider button:active {
  border-style: solid;
  border-color: transparent;
}

.wrapper .images .gallery .slider button:focus {
  border-style: solid;
  border-color: transparent;
}

.wrapper .images .gallery .slider button:hover {
  background-color: yellow;
  transition: 0.3s ease-in-out;
  color: black;
}

@media (max-width: 1050px) {
  .wrapper .images .gallery .slider h1 {
    font-size: 40px;
    text-align: center;
    top: 20%;
  }
  .wrapper .images .gallery .slider button {
    top: 72%;
    font-size: 15px;
  }
}

.wrapper .offer {
  margin-top: 10px;
}

.wrapper .offer .offergallery {
  display: flex;
}

.wrapper .offer .offergallery div {
  position: relative;
  width: 150px;
  flex: 1;
}

.wrapper .offer .offergallery div .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: red;
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
}

.wrapper .offer .offergallery div .cover:hover {
  opacity: 0.8;
}

.wrapper .offer .offergallery div img {
  width: 100%;
}

@media (max-width: 1050px) {
  .wrapper .offer .offergallery .cnt4,
  .wrapper .offer .offergallery .cnt5,
  .wrapper .offer .offergallery .cnt6 {
    display: none;
  }
}

.wrapper main {
  background-color: white;
  color: black;
}

.wrapper main .ouroffer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.wrapper main .ouroffer .choice {
  flex: 1;
  margin-top: 80px;
}

.wrapper main .ouroffer .choice h5,
.wrapper main .ouroffer .choice h3 {
  padding: 10px 0;
}

.wrapper main .ouroffer .choice h5 {
  font-size: 25px;
}

.wrapper main .ouroffer .choice h3 {
  font-size: 45px;
  text-transform: uppercase;
}

.wrapper main .ouroffer .choice p {
  line-height: 2em;
}

.wrapper main .ouroffer .choice button {
  margin-top: 20px;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #ff0000;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  outline: none;
  box-shadow: none;
  border-style: solid;
  border-color: transparent;
}

.wrapper main .ouroffer .choice button:hover {
  background-color: #990000;
  transition: 0.3s ease-in-out;
}

.wrapper main .ouroffer .choiceimage {
  flex: 1;
  padding: 30px;
}

.wrapper main .ouroffer .choiceimage img {
  width: 100%;
}

@media (max-width: 1250px) {
  .wrapper main .ouroffer {
    flex-direction: column;
  }
  .wrapper main .ouroffer .choice {
    text-align: center;
    margin-top: 50px;
  }
  .wrapper main .ouroffer .choiceimage {
    padding: 40px;
  }
}

.wrapper main .contact {
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  color: white;
  height: 300px;
}

.wrapper main .contact h3 {
  font-size: 50px;
  margin-top: 50px;
}

.wrapper main .contact h4 {
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .wrapper main .contact h3 {
    font-size: 30px;
    margin-top: 50px;
  }
}

.wrapper main .contact button {
  margin-top: 20px;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #12192c;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  outline: none;
  box-shadow: none;
  border-style: solid;
  border-color: transparent;
}

.wrapper main .contact button:hover {
  background-color: black;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */